extends baseEmail

block content
	p Salut #{pseudo},
		p Tu as perdu ton mot de passe ? Pas de soucis fait une demande de changement de mot de passe à #{url}
		table(role="presentation", border="0", cellpadding="0", cellspacing="0", class="btn btn-primary")
			tbody
				tr
					td(align="left")
						table(role="presentation", border="0", cellpadding="0", cellspacing="0")
							tbody
								tr
									td
										a(href=`${url}`, target="_blank") Reset mot de passe
		p TweekTabs, CEO
		p Si tu n'as pas perdu ton mot de passe ignor cette email.